:root {
    --primary-purple: #6633cc;   
    --primary-blue: #87caff;
    --heading-blue-dark:#0a9ead;
    --primary-green:  #4da07a;   
    --accent-orange:  #ff7833;  
    --background-box: #e1ecff;  
}
